a {
  color: #4183c4;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.wip {
  font-weight: normal;
  margin-bottom: 0em;
  padding: 0.5em;
  position: relative;
  text-align: left;
}

.logo {
  background: data-uri('./dmtf-logo.png') no-repeat right center;
  height: 133px;
}

.preamble {
  font-weight: bold;
  text-align: right;
}

.title {
  margin-top: 3em;
}

#toc-header {
  text-align: center;
}

#toc {
  padding-left: 0;
}

#toc, #toc ul {
  list-style-type: none;
}

body {
  border-collapse: collapse;
  color: #333;
  font-size: 13px;
  font-family: Arial;
  line-height: 1.4;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 1em;
}

h1 {
  font-size: 2.25em;
  line-height: 1.2;
  prince-bookmark-level: 1;
}

h2 {
  font-size: 1.75em;
  line-height: 1.225;
  prince-bookmark-level: 1;
}

h1, h2 {
  border-bottom: 1px solid #eee;
  padding-bottom: 0.3em;
}

h3 {
  font-size: 1.5em;
  prince-bookmark-level: 2;
}

h4 {
  font-size: 1.25em;
  prince-bookmark-level: 3;
}

h5 {
  font-size: 1em;
  prince-bookmark-level: 4;
}

h6 {
  color: #777;
  font-size: 1em;
  prince-bookmark-level: 5;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  word-break: normal;

  thead {
    tr:nth-child(2n + 1) {
      background-color: #f8f8f8;
    }
  }

  tr {
    border-top: 1px solid #ccc;

  }

  th, td {
    border: 1px solid #ddd;
    padding: 6px 13px;
  }
}

/* @import './review.less'; */

@media screen {
  tr:nth-child(2n) {
    background-color: #f8f8f8;
  }
}

@media print {
  body {
    font-size: 10pt;
  }

  #toc-header, #toc ~ h2 {
    break-before: page;
    page-break-before: always;
  }

  #toc ~ h2 ~ h2 {
    break-before: auto;
    page-break-before: auto;
  }

  #toc {
    margin-left: 0;
    padding-left: 0;

    /* Put the page number of the ToC item on the right precended by periods */
    a {
      text-decoration: none;

      &::after {
        content: leader('.') target-counter(attr(href), page);
      }
    }

    /* Hide deeper than 3rd level headers */
    ul > ul > ul {
      display: none;
    }
  }

  h1:not(.title) {
    break-before: page;
    page-break-before: always;
  }

  tbody tr {
    background-color: inherit;
  }

  a {
    text-decoration: underline;
  }


  .title {
    string-set: doctitle content();
  }

  .dsp {
    string-set: docnumber content();
  }

  .version {
    string-set: docversion content();
  }

  .status {
    string-set: docstatus content();
  }

  .confidentiality {
    string-set: docconfidentiality content();
  }
}

@page {
  size: US-Letter;
  font-size: 13px;
  border-bottom: thin #444 solid;
  color: #333;
  padding-top: 0.25in;
  padding-bottom: 0.25in;
  margin: 1in;
  // margin-inside: 1in;
  // margin-outside: 0.5in;

  @top-left {
    content: string(docnumber);
    vertical-align: bottom;
  }

  @top-right {
    content: string(doctitle);
    vertical-align: bottom;
  }

  @bottom-left {
    content: 'Version ' string(docversion);
    vertical-align: top;
  }

  @bottom-center {
    content: string(docconfidentiality) string(docstatus);
    vertical-align: top;
  }

  @bottom-right {
    content: counter(page);
    vertical-align: top;
  }
}

@page:first {
  border-bottom: none;

  @top-left {
    content: '';
  }

  @top-right {
    content: '';
  }

  @bottom-left {
    content: '';
  }

  @bottom-center {
    content: '';
  }

  @bottom-right {
    content: '';
  }
}

@page:right {
  @top-left {
    content: string(docnumber);
  }

  @top-right {
    content: string(doctitle);
  }

  @bottom-left {
    content: 'Version ' string(docversion);
  }

  @bottom-right {
    content: counter(page);
  }
}

@page:left {
  @top-left {
    content: string(doctitle);
  }

  @top-right {
    content: string(docnumber);
  }

  @bottom-left {
    content: counter(page);
  }

  @bottom-right {
    content: 'Version ' string(docversion);
  }
}

pre {
  background-color: #f7f7f7;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
  white-space: pre-wrap;
}

h1 {
  border: none;
  margin-bottom: 2em;
}

#dmtf {
  &[data-status='Work in Progress'] {
    .wip {
      border: 2px ridge #eee;
    }
  }

  &[data-status='Published'], &[data-status='Draft'] {
    .wip {
      color: #fff;
      cursor: default;
      visibility: hidden;
      user-select: none;

      a {
        color: #fff;
        cursor: default;
      }
    }
  }
}

.document {
  font-weight: bold;
}

.copyright {
  border: 1px solid #333;
  padding: 0.5em;
  page-break-before: always;

  & p:first-child {
    margin-top: 0;
  }

  & p:last-child {
    margin-bottom: 0;
  }
}
